<html lang="en">
    <head>
    <meta charset="utf-8">
     <link rel="stylesheet" href="/css/error.css">
    <title>Página no encontrada :(</title>
        
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
    

    <body>
    
    <div class="unicorn"></div>
            
    <div class="container">
      
        <div class="four-oh-four"><h1>404 Error</h1></div>
              
        <div class="warning">            
            <h2>"Todos esos momentos se perderán en el tiempo, como lágrimas en la lluvia."</h2>
            <p>Es posible que la página que está buscando haya sido eliminada, haya cambiado de nombre o no esté disponible temporalmente.</p>
            <a href="javascript:history.back()">Vuelva a la página anterior</a>
        </div>

        <div class="footer"><p class="copyright">&copy; 2013 Redfrost.com</p></div>        

    </div><!-- /.container -->                             
    </body>
</html>

