{{#> template}}
<h1 class="bg-dark">Pagina no encontrada</h1>
<main class="mainError"> 
    <div class="contenedorError">
    <img class="imgError" src="https://cdn-4.motorsport.com/images/amp/2jXqxAP6/s6/marshals-remove-the-car-of-cha.jpg" alt="">
    </div>
</main>
{{/template}}