<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <title>Incio</title>
</head>

<body>
    <header>
        <div class="left-menu">
            <li><i class="fa fa-map-o"></i> Proyecto Final Bootcamp</li>
        </div>
        <div class="right-menu">
            <li><a href="/loginregistro">Ingresar</a></li>
            
            <li><a href="/contacto">Contacto</a></li>
        </div>
    </header>

    <section class="landing">
        <h3>Proyecto Final Bootcamp Javascript</h3>
        <h4>Esteban Zúñiga</h4>
        <div class="button" onclick="location.href='/loginregistro'">Entrar</div>
        <div class="background"></div>
    </section>
</body>

</html>